# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

**/metadata/*

**/Release/
**/Debug/
Release/*
Debug/*

language.settings.xml
stm32cubeide.project.prefs
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/

# Ignore all bin files
*.bin

# Ignore files related to API keys
*.elf

# Ignore files related to API keys
*.list

# Ignore all map files
*.map

# Ignore all object.list files
!objects.list

# Ignore all d files
*.d

# Ignore all object files
*.o

# Ignore all su files
*.su


